/Unidad 1/Temario/Ejemplos/SincronizaSegmentoJardines/build/
/Unidad 1/Temario/Ejemplos/SincronizaSegmentoJardines/nbproject/private/
/Unidad 1/Temario/Ejemplos/LectoresEscritoresEjemplo/build/
/Unidad 1/Temario/Ejemplos/LectoresEscritoresEjemplo/nbproject/private/
