/Unidad 1/Temario/Ejemplos/SincronizaSegmentoJardines/build/
/Unidad 1/Temario/Ejemplos/SincronizaSegmentoJardines/nbproject/private/
/Unidad 1/Temario/Ejemplos/LectoresEscritoresEjemplo/build/
/Unidad 1/Temario/Ejemplos/LectoresEscritoresEjemplo/nbproject/private/
/Unidad 1/Tarea/Podadera_Gonzalez_Andres_Tarea1PSP/Actividad2/Actividad_2/dist/
